.mat-divider {
  border-right-width: 5px;
  border-right-color: black!important;
  margin-top: 10px;
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  justify-self: flex-start;
  align-self: flex-start;
}

.right {
  justify-self: flex-end;
  align-self: flex-end;
}
