<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list *ngIf="activeRoute$ | async as routes">
      <ng-template #recursive let-routes>
        <ng-container *ngFor="let route of routes">
          <a mat-list-item [routerLink]="route?.shellPath ? route.shellPath : route.path" *ngIf="route.sidenav">{{
            route.name }}</a>
          <section *ngIf="route?.children?.length > 0">
            <ng-container *ngTemplateOutlet="
                recursive;
                context: { $implicit: route?.children }
              "></ng-container>
          </section>
        </ng-container>
      </ng-template>
      <ng-container *ngTemplateOutlet="recursive; context: { $implicit: routes }"></ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/">🚀🚀 Memento</span>

      <span class="fill-space"></span>
      <div *ngIf="
          (isHandset$ | async) === false ||
          (isHandset$ | async) === undefined ||
          (isHandset$ | async) === null
        ">
        <ng-container *ngFor="let route of appRoutes">
          <a mat-button [routerLink]="route.path" *ngIf="route.toolbar">{{
            route.name
            }}</a>
        </ng-container>

        <a mat-button (click)="auth.loginWithRedirect()" *ngIf="
            (auth.isAuthenticated$ | async) === false ||
            (auth.isAuthenticated$ | async) === undefined ||
            (auth.isAuthenticated$ | async) === null
          ">🔑 Login</a>
        <a mat-button (click)="auth.logout({ returnTo: document.location.origin })" *ngIf="auth.user$ | async as user">
          <img class="avatar" [src]="user?.picture || 'assets/default-user.svg'" />
        </a>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a mat-menu-item href="https://github.com/PasNinii/cowboy-front">
          <i>💬</i>
          <span>Code on Github (front)</span>
        </a>
        <a mat-menu-item href="https://github.com/PasNinii/cowboy-back">
          <i>💾</i>
          <span>Code on Github (back)</span>
        </a>
      </mat-menu>
    </mat-toolbar>

    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
